.button {
    stroke: black;
    stroke-width: 2;
    fill: white;
}

.button_clicked{
    stroke: black;
    stroke-width: 2;
    fill: steelblue;
}

.legend{
    fill: white;
}

.legend_label{
    fill: white;
}

#zipcodePopover {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}

#dropdownBT{
  background-color: #56B794;
  color: white;
  padding: 8px;
  font-size: 18px;
  font-family: Arial;
  border: none;
  position: absolute;
  top: 120px;
  left: 60px;
}

.dropdown{
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black;
  font-size: 16px;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
div#map{
    position: absolute;
    top: 100px;
    left: 0px;
}

div#Chart{
    position: absolute;
    top: 200px;
    left: 410px;
}

div#menu{
    position: absolute;
    top: 100px;
    left: 400px;
}

circle.menu{
    fill: white;
    stroke: grey;
    stroke-width: 2;
}

circle.menu_choosed{
    fill: grey;
    fill-opacity: 0.5;
    stroke: grey;
    stroke-width: 2;
}

text.val{
    font-weight: 'small';
}