<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="//d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>

    <title>CSE 564 Final Project</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <header>Industry in NYC</header>
    <div id="map">
        <p>Industry Distribution in NYC</p>
    </div>
    <div id='zipcodePopover'> </div>
    <div id='menu'></div>
    <div id="Chart"></div>

   <script src="{{ url_for('static', filename='barChartandMap.js') }}"></script>
   <script src="{{ url_for('static', filename='stackareachart.js') }}"></script>
   <script src="{{ url_for('static', filename='menu.js') }}"></script>


</body>
</html>
