<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/queue.v1.min.js"></script>
    <script src="//d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
    <title>CSE 564 Final Project</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
   <div id="map"></div>
   <div id='zipcodePopover'> </div>
   <div id="MDSplot"></div>
   <select id="dropdownBT" onchange="update_bar_chart()">
     <option value="0" class="dropdown">Alphabetical</option>
     <option value="1" class="dropdown">Descending</option>
    <option value="2" class="dropdown">Ascending</option>
   </select>
   <div id="barChart"></div>
   <div id="stackChart"></div>

   <script src="{{ url_for('static', filename='barChartandMap.js') }}"></script>

</body>
</html>
